# PostgreSQL Database
POSTGRES_HOST=localhost
POSTGRES_DBS=kltn_db
POSTGRES_USERNAME=admin
POSTGRES_PASSWORD=minhtan2003
POSTGRES_PORT=5432

# FIWARE Orion Context Broker
FIWARE_ORION_BASE=localhost:1026
