# MinIO Configuration
MINIO_ENDPOINT_URL=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=

# FIWARE Configuration
FIWARE_ORION_BASE=

# Postgres Configuration
POSTGRES_HOST=
POSTGRES_DBS=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_PORT=